@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
		 url("../fonts/latoregular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
		 url("../fonts/latobold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
		 url("../fonts/latoblack.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Maven Pro";
	src: url("../fonts/mavenproregular.woff2") format("woff2"),
		 url("../fonts/mavenproregular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}