/*contetnts*/
/*1. 
connecting styles
2. common styles
3. header
4. page-content (main element)
5. slider
6. info-about-author
*/

/*1.connecting styles*/
@import url("fonts.css");
@import url("normalize.css");


/*2.common styles*/
body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400px;

    margin: 0;
    padding: 0;

    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;

    color: inherit;
}

/*img {
    max-width: 100%;
    height: auto;
}*/

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

/*доступно скрывает */
.heading_visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}*/

/*3.header*/
/*добить адаптивность
после треугольника вылезает полоска*/

.page-header {
    width: 100%;

    color: #ffffff;
    background-color: #323232;
}

.page-header__main-nav {
    position: relative;

    display: flex;

    justify-content: center;
}

.page-header__main-nav::after,
.page-header__main-nav::before {
    position: absolute;
    right: 50%;
    bottom: -12px;

    width: 40%;
    height: 1px;
    margin-right: 70px;

    content: "";

    background-color: #e4e9eb;
}

.page-header__main-nav::before {
    left: 50%;

    margin-right: 0;
    margin-left: 70px;
}

.page-header__main-nav-list {
    position: relative;

    display: flex;

    box-sizing: border-box;
    margin: 0;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: center;
}

.page-header__main-nav-list li {
    position: relative;

    box-sizing: border-box;
    width: 80px;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
}

.page-header__main-nav-list li:first-child {
    padding-left: 22px;
}

.page-header__main-nav-list li:first-child::after {
    position: absolute;
    top: 36px;
    right: -11px;

    width: 2px;
    height: 2px;

    content: "";

    opacity: 0.2;
    background-color: #2eb398;
}

.page-header__main-nav-list li:nth-child(2) {
    padding-left: 22px;
}

.page-header__main-nav-list li:nth-child(3) {
    width: 93px;
    margin-bottom: -12px;
    margin-left: -1px;
    padding-top: 10px;
    padding-left: 14px;
}

.page-header__main-nav-list li:nth-child(3)::before {
    position: absolute;
    bottom: -14px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -46px;

    content: "";

    border-top: 26px solid  #323232;
    border-right: 47px solid transparent;
    border-left: 46px solid transparent;
}

.page-header__main-nav-list li:nth-child(4) {
    width: 74px;
    padding-left: 24px;
}

.page-header__main-nav-list li:nth-child(4)::after {
    position: absolute;
    top: 36px;
    right: 10px;

    width: 2px;
    height: 2px;

    content: "";

    opacity: 0.2;
    background-color: #2eb398;
}

.page-header__main-nav-list li:nth-child(5) {
    width: 86px;
}

.page-header__main-nav-link,
.page-header__main-nav-link_active-link {
    font-family: "Lato", Arial, sans-serif;
    font-size: 0.625em;
    font-weight: 400px;

    display: block;

    padding: 31px 0 12px;

    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.page-header__main-nav-link_active-link {
    color: #2eb398;
}

.page-header__main-nav-link:hover,
.page-header__main-nav-link:focus {
    text-decoration: underline;
}

.page-header__main-nav-link:active {
    opacity: 0.8;
}


/*4.page-content*/

/*5.slider*/

.slider {
    position: relative;

    display: flex;

    box-sizing: border-box;
    height: 631px;
    margin-top: 90px;

    color: #323232;
    background-color: #ffffff;

    justify-content: center;
}

.slider__wrapper {
    position: relative;

    display: flex;
    overflow: hidden;

    width: 1020px;

    justify-content: center;
}

.slider__slides-container {
    width: 980px;
    height: 100%;
}

.slider::after {
    position: absolute;
    bottom: 11px;
    left: center;

    width: 94%;
    height: 1px;

    content: "";

    background-color: #e4e9eb;
}

.slide {
    top: 0;
    left: 0;

    display: none;

    margin: 0 auto;

    justify-content: center;
}

.slide__img-rows-container {
    display: flex;

    max-width: 980px;

    justify-content: center;
    flex-wrap: wrap;
}

.slide__row {
    position: relative;

    display: flex;

    flex-wrap: wrap;
}

.slide__row2,
.slide__row3 {
    margin-top: -38px;
}

.slide__row svg:last-child {
    margin-right: 0;
}

.slide__row1::before,
.slide__row3::before {
    position: absolute;
    top: 52px;
    left: -21px;

    width: 1px;
    height: 104px;

    content: "";

    background-color: #e4e9eb;
}

.slide__row1::after,
.slide__row3::after {
    position: absolute;
    top: 52px;
    right: -21px;

    width: 1px;
    height: 104px;

    content: "";

    background-color: #e4e9eb;
}

.slide__img-rows-container svg {
    margin: 0;
    margin-right: 20px;
    padding: 0;

    transition: all 0.2s ease-out;
}

.slide__img-rows-container svg:hover {
    transition: all 0.2s ease-out;
    transform: rotate(60deg);
    transform-origin: 50% 50%;
}

.slide1,
.slide2,
.slide4,
.slide5,
.slide6 {
    height: 100%;

    align-items: center;
}

.slide2__row svg {
    margin: 20px;

    transition: all 0.2s ease-out;
}

.slide2__row svg:nth-child(2n+1):hover {
    transition: all 0.2s ease-out;
    transform: translateY(-50%);
}

.slide2__row svg:nth-child(2n):hover {
    transition: all 0.2s ease-out;
    transform: translateY(50%);
}

.slider__radio-control_hidden,
.label_visually-hidden {
    position: absolute;
    bottom: 23px;
    left: 30px;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

/*slides appearing*/
.slider__radio-control_hidden:first-child:checked ~ .slider__slides-container .slide1 {
    display: flex;
}

.slider__radio-control_hidden:nth-child(2):checked ~ .slider__slides-container .slide2 {
    display: flex;
}

.slider__radio-control_hidden:nth-child(3):checked ~ .slider__slides-container .slide3 {
    display: flex;
}

.slider__radio-control_hidden:nth-child(4):checked ~ .slider__slides-container .slide4 {
    display: flex;
}

.slider__radio-control_hidden:nth-child(5):checked ~ .slider__slides-container .slide5 {
    display: flex;
}

.slider__radio-control_hidden:nth-child(6):checked ~ .slider__slides-container .slide6 {
    display: flex;
}

/*slider-controls states*/
.slider__slider-controls {
    position: absolute;
    bottom: 23px;
    left: 30px;

    display: flex;
}

.slider__radio-control_visible {
    display: block;

    width: 6px;
    height: 6px;
    margin-right: 3px;

    background-color: #ddd2c5;
}

.slider__radio-control_visible:hover {
    cursor: pointer;
}

.slider__radio-control_hidden:first-child:checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control1"] {
    background-color: #8b8784;
}

.slider__radio-control_hidden:nth-child(2):checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control2"] {
    background-color: #8b8784;
}

.slider__radio-control_hidden:nth-child(3):checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control3"] {
    background-color: #8b8784;
}

.slider__radio-control_hidden:nth-child(4):checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control4"] {
    background-color: #8b8784;
}

.slider__radio-control_hidden:nth-child(5):checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control5"] {
    background-color: #8b8784;
}

.slider__radio-control_hidden:nth-child(6):checked ~ .slider__slider-controls .slider__radio-control_visible[for="radio-control6"] {
    background-color: #8b8784;
}

/* 6. info-about-author */

.info-about-author {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 63px 120px 67px;

    color: #ffffff;
    background-color: #2eb398;
}

.info-about-author p,
.info-about-author h2,
.info-about-author h3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info-about-author h2 {
    font-family: "Maven Pro", Arial, sans-serif;
    font-size: 1.875em;
    font-weight: 400;

    color: #d7fcf5;
}

.info-about-author h3 {
    font-family: "Maven Pro", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 400;

    margin-top: -1px;
    margin-left: 1px;

    color: #20816d;
}

.info-about-author p {
    font-family: "Lato", Arial, sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.375rem;

    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 2px;

    color: #d7fcf5;
}

.info-about-author__biography-block {
    display: flex;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info-about-author__author-photo {
    margin-top: 5px;
    margin-right: 18px;

    flex-shrink: 0;
}


.info-about-author__biography-block figcaption {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info-about-author__social-links {
    display: flex;

    margin-top: -24px;
}

.info-about-author__social-links ul {
    display: flex;

    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.info-about-author__social-links a {
    position: relative;

    display: block;

    background-color: #11b09b;

    filter: grayscale(100%) invert(100%) opacity(70%);
}

.info-about-author__social-links a:hover,
.info-about-author__social-links a:focus {
	filter: none;
}

.info-about-author__social-links a:hover::before,
.info-about-author__social-links a:focus::before,
.info-about-author__social-links a:hover::after,
.info-about-author__social-links a:focus::after {
	display: none;
}

.info-about-author__social-links a:active {
	opacity: 0.4;
}

.info-about-author__social-link_fb {
    width: 25px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -0;
}

.info-about-author__social-link_tw {
    width: 24px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -72px;
}

.info-about-author__social-link_google {
    width: 25px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -24px;
}

.info-about-author__social-link_pinterest {
    width: 24px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -120px;
}

.info-about-author__social-link_linkedin {
    width: 25px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -48px;
}

.info-about-author__social-link_drib {
    width: 24px;
    height: 24px;

    background-image: url("../assets/img/sprite_social_links.png");
    background-position: -0 -96px;
}

.info-about-author__social-links a::before {
    position: absolute;

    width: 100%;
    height: 100%;

    content: "";
}

.info-about-author__social-links a::after {
    position: absolute;

    width: 100%;
    height: 100%;

    content: "";

    background-color: rgba(0, 0, 0, 0.7);
}

.info-about-author::before {
    position: absolute;
    top: 4%;
    left: 99px;

    width: 1px;
    height: 93%;

    content: "";

    background-color: #219d84;
}

.info-about-author::after {
    position: absolute;
    top: 4%;
    right: 99px;

    width: 1px;
    height: 93%;

    content: "";

    background-color: #219d84;
}
